/*Universal Selctor*/
* {
    text-align: left;
    margin: 2pt;
}
/*Element Selector*/
h1{
    color: IndianRed;
    background-color: #010000;
}
h3{
    color: rgb(255,0,0);
    background-color: hsl(120, 100%,75%)
}
div.activities{
    color: blue;
    padding-top: 5px;
    border-width: 1pt;
    border-radius: 1pc;
    border-style: solid;
    border-color: black;
}
b.act{
    padding-left: 1em;
}

div.highlights{
    padding-top: 1ch;
    padding-bottom: 1ex;
    color: orangered;
    border-width: 1pt;
    border-radius: 1pc;
    border-style: solid;
    border-color: black;
}
/*Class Selector*/
b.high{
    padding-left: 1em;
}
p.desc{
    margin: auto;
}
div.meme_1{
    margin-top: 1pt;
    margin-bottom: 1pt;
    margin-left: 1pt; 
    margin-right: 1pt;
}
/*ID Selector*/
#BTD6 {
    padding: 1pc;
    text-decoration: underline;
    text-align: left;
}

/*Attribute selector*/
a[target="_blank"] {
    background-color:yellow
}