/*Universal Selctor*/
* {
    text-align: left;
    margin: 2pt;
}
@media only screen and (max-width: 768px){
    section{
        width: 100%;
    }
}
p{
    font-family: 'Original Surfer', cursive;
}
/*Element Selector*/
h1{
    color: IndianRed;
    background-color: #010000;
}
h3{
    color: rgb(255,0,0);
    background-color: hsl(120, 100%,75%)
}
/*Selector List Selector*/
h4,h2{
    color: Forestgreen;
}
div.fun{
    display:flex;
    justify-content: space-between
}
div.fun > div{
    border: 5pt solid black;
}
div.fun > p{
    border: 5pt solid black;
}
div.activities{
    color: blue;
    padding-top: 5px;
    border-width: 1pt;
    border-radius: 1pc;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#item1{
    display:flex;
}
#item2{
    display:flex;
}
#item3{
    display:flex;
}
b.act{
    padding-left: 1em;
}

div.highlights{
    padding-top: 1ch;
    padding-bottom: 1ex;
    color: orangered;
    border-width: 1pt;
    border-radius: 1pc;
    border-style: solid;
    border-color: black;
}
/*Class Selector*/
b.high{
    padding-left: 1em;
}
p.desc{
    margin: auto;
    width: 85%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid black;
    
}
strong.activity{
    display: inline-block;
}
em.mood{
    display: inline;
}
/*ID Selector*/
#BTD6 {
    padding: 1pc;
    text-decoration: underline;
    text-align: left;
}
div.meme_1{
    margin-top: 1pt;
    margin-bottom: 1pt;
    margin-left: 1pt; 
    margin-right: 1pt;
}
b.song{
    position: relative
}
audio:hover{
    background-color: green;
}
/*Pseudo-class selector*/
summary.extra:active{
    background-color: BlueViolet;
}
b.clip{
    position: static;
}
div.grid{
    display: grid;
    grid: 150px;
    grid-template-columns: auto;
    grid-row-end: 3;
    border: 1pt solid black;
}
div.grid > div.meme_2{
    grid-column-start: 1;
    place-self: auto;
}
/* nav{
    display: inline grid;
    grid-column-gap: 50px;
} */
/*Attribute selector*/
a[target="_blank"] {
    background-color:yellow
}